@import url('https://unpkg.com/@catppuccin/palette/css/catppuccin.css');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

html {
	color: var(--ctp-macchiato-text);
	background-color: var(--ctp-macchiato-base);

	font-family: "Fira Code", monospace;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

a:link {
	color: var(--ctp-macchiato-green);
}

a:visited {
	color: var(--ctp-macchiato-sky);
}

#header-div {
	margin-top: 20px;
	margin-left: 50px;
	margin-bottom: 20px;
}

#essay-list {
	margin-left: 50px;
}

.home-btn {
	margin-left: 50px;
	margin-top: 20px;
}

.essay-body {
	margin-left: 50px;
	p {
		max-width: 60ch;
	}
}
